body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  justify-content: center;
  background-color: papayawhip;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.title {
  align-content: center;
  padding-left: -3em;
  margin-inline-start: -0.8em;
}

.square {
  background: orange;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.reset {
  justify-self: center;
  margin-top: 2em;
  margin-left: 0.6em;
  background-color: peru;
  border-style: solid;
  border-color: black;
}
